<ion-view view-title="Edit Education">
	<ion-content>

		<form name="educ.form" novalidate>
			<ion-list class="list">
				<ion-item class="item item-input item-stacked-label">
					<span class="input-label bold-text">Training organisation <span class="required">*</span></span>
					<input type="text"
						   name="trainingOrganisationField"
						   placeholder="Training organisation"
						   class="mute-text"
						   ng-model="educ.currentItem.TrainingOrganisation"
						   ng-required="true"
					>
				</ion-item>
				<ion-item class="item item-input item-stacked-label">
					<span class="input-label bold-text">Course <span class="required">*</span></span>
					<input type="text"
						   name="courseNameField"
						   placeholder="Course"
						   class="mute-text"
						   ng-model="educ.currentItem.CourseName"
						   ng-required="true"
					>
				</ion-item>
				<ion-item class="item item-input item-stacked-label education-page-grid">
					<span class="input-label bold-text">Dates attended <span class="required">*</span></span>
					<div class="row responsive-sm">
						<div class="col-50">
							<label class="date-label">From date: </label>
							<select class="date-select"
									name="startMonthField"
									ng-model="educ.currentItem.StartMonth"
									ng-options="month for month in educ.selectData.month track by month"
									ng-required="true"
							>
							</select>
							<select class="date-select"
									name="startYearField"
									ng-model="educ.currentItem.StartYear"
									ng-options="year for year in educ.selectData.yearsFrom track by year"
									ng-required="true"
							>
							</select>
						</div>
						<div class="col-50">
							<label class="date-label">To date: </label>
							<select class="date-select"
									name="endMonthField"
									ng-model="educ.currentItem.EndMonth"
									ng-options="month for month in educ.selectData.month track by month"
									ng-if="educ.currentItem.EndYear != 'Present'"
									ng-required="educ.currentItem.EndYear != 'Present'"
							>
							</select>
							<select class="date-select"
									name="endYearField"
									ng-model="educ.currentItem.EndYear"
									ng-options="year for year in educ.selectData.yearsTo track by year"
									ng-required="true"
							>
							</select>
						</div>
					</div>
				</ion-item>
			</ion-list>
			<div class="padding" ng-if="educ.showAlert">
				<div class="alert-block alert-error">
					<span>Please fill in the years you attended the course</span>
				</div>
			</div>
			<div class="row responsive-sm">
				<div class="col-50 padding-lr-10">
					<button class="button button-positive button-block" ng-click="educ.onSave()">Save</button>
				</div>
				<div class="col-50 padding-lr-10">
					<button class="button button-assertive button-block" ng-click="educ.onCancel()">Cancel</button>
				</div>
			</div>
		</form>

	</ion-content>
</ion-view>