<ion-view view-title="Edit Education">
    <ion-content>

        <form name="educ.educationForm" novalidate>
            <ion-list class="list">
                <ion-item class="item item-input item-stacked-label">
                    <span class="input-label bold-text">Training organisation <span class="required">*</span></span>
                    <input type="text"
                           name="org"
                           placeholder="Training organisation"
                           class="mute-text"
                           ng-model="educ.currentItem.org"
                           ng-required="true"
                    >
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <span class="input-label bold-text">Course <span class="required">*</span></span>
                    <input type="text"
                           name="course"
                           placeholder="Course"
                           class="mute-text"
                           ng-model="educ.currentItem.course"
                           ng-required="true"
                    >
                </ion-item>
                <ion-item class="item item-input item-stacked-label education-page-grid">
                    <span class="input-label bold-text">Dates attended <span class="required">*</span></span>
                    <div class="row responsive-sm">
                        <div class="col-50">
                            <label class="date-label">From date: </label>
                            <select class="date-select" ng-model="educ.currentItem.monthFrom">
                                <option ng-repeat="i in educ.selectData.month track by $index"
                                        ng-value="{{i}}"
                                        ng-bind="i"
                                        ng-selected="i == educ.currentItem.monthFrom"
                                ></option>
                            </select>
                            <select class="date-select" ng-model="educ.currentItem.yearFrom">
                                <option ng-repeat="i in educ.selectData.yearsFrom track by $index"
                                        ng-value="{{i}}"
                                        ng-bind="i"
                                        ng-selected="+i == educ.currentItem.yearsFrom"
                                ></option>
                            </select>
                        </div>
                        <div class="col-50">
                            <label class="date-label">To date: </label>
                            <select class="date-select" ng-model="educ.currentItem.monthTo">
                                <option ng-repeat="i in educ.selectData.month track by $index"
                                        ng-value="{{i}}"
                                        ng-bind="i"
                                        ng-selected="i == educ.currentItem.monthTo"></option>
                                ></option>
                            </select>
                            <select class="date-select" ng-model="educ.currentItem.yearTo">
                                <option value="0">1991</option>
                                <option value="1">1992</option>
                                <option value="2">1993</option>
                                <option value="3">1994</option>
                            </select>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <!--<div class="padding">-->
                <!--<div class="alert-block alert-error" ng-if="portfolio.alertForm">-->
                    <!--<span>Please fill all required fields with correct data</span>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row responsive-sm">
                <div class="col-50 padding-lr-10">
                    <button class="button button-positive button-block" ng-click="educ.onSave()">Save</button>
                </div>
                <div class="col-50 padding-lr-10">
                    <button class="button button-assertive button-block">Cancel</button>
                </div>
            </div>
        </form>

    </ion-content>
</ion-view>