<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">User Menu</h1>
        <button class="button button-clear button-icon ion-close" ng-click="hideUserMenu()"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <button class="button button-positive button-block" ng-click="showDashboard()">Members home</button>
        <button class="button button-positive button-block" ng-click="showMyDetails()">My details</button>
        <button class="button button-positive button-block" ng-click="logout()">Logout</button>
    </ion-content>
</ion-modal-view>