<ion-view view-title="Members - ACDN">
    <ion-content padding="true" class="ionic-grid dashboard">
        <div class="greeting">
            <h2>Welcome, <span ng-bind="dashboard.userInfo.firstName ? dashboard.userInfo.firstName : 'John'"></span></h2>
            <h4>Member since June 2016</h4>
        </div>
        <div class="info-tiles-widget">
            <div class="row responsive-sm">
                <div class="col col-50">
                    <div class="card" ui-sref="app.portfolio">
                        <div class="item item-divider">
                            <h2>My ePortfolio</h2>
                        </div>
                        <div class="item item-body">
                            <div class="row">
                                <div class="col col-30">
                                    <i class="icon icon-lg ion-folder"></i>
                                </div>
                                <div class="col">
                                    <span>Build your ACDN ePortfolio to keep track of your education, Continuing Professional Development, and to present yourself to potential employers.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="card" ng-click="dashboard.openInBrowse('courses')">
                        <div class="item item-divider">
                            <h2>Continuing Professional Development (CPD)</h2>
                        </div>
                        <div class="item item-body">
                            <div class="row">
                                <div class="col col-30">
                                    <i class="icon icon-lg ion-android-checkbox"></i>
                                </div>
                                <div class="col">
                                    <span>Stay up-to-date and get a step-ahead of the rest by engaging with the ACDN Continuing Professional Development courses. Access free courses provided by our partner H1Learning by clicking on the button below.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col col-50">
                    <div class="card" ng-click="dashboard.openInBrowse('job')">
                        <div class="item item-divider">
                            <h2>Job Board</h2>
                        </div>
                        <div class="item item-body">
                            <div class="row">
                                <div class="col col-30">
                                    <i class="icon icon-lg ion-person"></i>
                                </div>
                                <div class="col">
                                    <span>Looking for a new job? ACDN's job board helps to link you with the right employers.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="card" ui-sref="app.rewards">
                        <div class="item item-divider">
                            <h2>Member Rewards</h2>
                        </div>
                        <div class="item item-body">
                            <div class="row">
                                <div class="col col-30">
                                    <i class="icon icon-lg ion-ios-star"></i>
                                </div>
                                <div class="col">
                                    <span>A member rewards program designed to let you access discounts on a wide variety of day to day products and services.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col col-50">
                    <div class="card" ui-sref="app.kiosk">
                        <div class="item item-divider">
                            <h2>Employee Kiosk</h2>
                        </div>
                        <div class="item item-body">
                            <div class="row">
                                <div class="col col-30">
                                    <i class="icon icon-lg ion-monitor"></i>
                                </div>
                                <div class="col">
                                    <span>Leave requests, payroll, and staff surveys for <span class="bold-text">Lonsdale Aged Care</span>.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="card" ui-sref="app.upskilling">
                        <div class="item item-divider">
                            <h2>Education &amp; Upskilling</h2>
                        </div>
                        <div class="item item-body">
                            <div class="row">
                                <div class="col col-30">
                                    <i class="icon icon-lg ion-ios-bookmarks"></i>
                                </div>
                                <div class="col">
                                    <span>You might be eligible for Government funded training that will help you move up in your career.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>