<ion-view view-title="My ePortfolio">
    <ion-content class="portfolio-page" scroll="true">
        <ion-item class="item">
            <div class="row responsive-sm">
                <div class="col col-25 col-offset-10">
                    <img src="img/avatar.jpeg">
                </div>
                <div class="col col-50 col-offset-10">
                    <h1 class="text-positive">John Bloggs</h1>
                    <div class="item-text-wrap">
                        <p>Preferred name: <span class="text-positive">Spirit</span></p>
                        <p>DOB: <span class="text-positive">Example</span></p>
                        <p>Email: <a href="mailto:sandbox@agedcaredn.com.au" class="text-positive">sandbox@agedcaredn.com.au</a></p>
                        <p>Mobile: <a href="tal:+0412345678" class="text-positive">0412345678</a></p>
                    </div>
                </div>
            </div>

            <div class="button-bar button-bar-positive custom-button-bar">
                <button class="button button-positive button-small" ng-class="{'active': portfolio.editModeEnabled}" on-tap="portfolio.toggleEditMode()">Edit portfolio</button>
                <button class="button button-positive button-small" ui-sref="app.changePhoto">Change photo</button>
                <button class="button button-positive button-small" ui-sref="app.userDetails">Edit profile</button>
            </div>
            <div class="button-bar button-bar-positive custom-button-bar">
                <button class="button button-positive button-small" ui-sref="app.edit-education">Add education</button>
                <button class="button button-positive button-small" ui-sref="app.edit-employment">Add employment</button>
            </div>
        </ion-item>
        <ion-item ng-if="!portfolio.loadingBar" data-portfolio-slider>
            <h2 class="text-center text-positive weight-bold">Education</h2>

            <ion-slide-box pager-click="portfolio.slideTo(index)" active-slide="0" does-continue="true">
                <ion-slide ng-repeat="entry in portfolio.portfolioInfo.education track by $index">
                    <div class="card card-positive">
                        <div class="item item-divider">
                            <h2 class="text-center"> {{entry.CourseName}} </h2>
                        </div>
                        <div class="item item-body">
                            <strong>Training organization:</strong><span class="text-positive">&nbsp;{{entry.TrainingOrganisation}}</span>
                            <p>{{entry.StartMonth}}&nbsp;{{entry.StartYear}}&nbsp;&ndash;&nbsp;<span ng-if="entry.EndYear != 'Present'">{{entry.EndMonth}}</span>&nbsp;{{entry.EndYear}}</p>
                        </div>
                        <div 
                            class="item item-divider"
                            ng-show="portfolio.editModeEnabled">
                            <div class="button-bar button-bar-stable">
                                <button 
                                    class="button button-light button-small" 
                                    ng-click="portfolio.deletePortfolioItem(entry.Id)">
                                    <i class="icon ion-trash-a"></i>    
                                </button>
                                <button 
                                    class="button button-light button-small" 
                                    ng-click="portfolio.editPortfolioItem('education', entry.Id)">
                                    <i class="icon ion-edit"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-item>
        <ion-item ng-if="!portfolio.loadingBar" data-portfolio-slider>
            <h2 class="text-center text-positive weight-bold">Employment Experience</h2>

            <ion-slide-box pager-click="portfolio.slideTo(index)" active-slide="0" does-continue="true">
                <ion-slide ng-repeat="entry in portfolio.portfolioInfo.employment track by $index">
                    <div class="card card-positive">
                        <div class="item item-divider">
                            <h2 class="text-center"> {{entry.JobTitle}} </h2>
                            <h3 class="text-center"> <span class="weight-normal">at</span> {{entry.Employer}} </h3>
                        </div>
                        <div class="item item-body">
                            <strong>Description:</strong>
                            <p class="text-positive"> {{entry.Description}} </p>
                            <p>{{entry.StartMonth}}&nbsp;{{entry.StartYear}}&nbsp;&ndash;&nbsp;<span ng-if="entry.EndYear != 'Present'">{{entry.EndMonth}}</span>&nbsp;{{entry.EndYear}}</p>
                        </div>
                        <div 
                            class="item item-divider"
                            ng-show="portfolio.editModeEnabled">
                            <div class="button-bar button-bar-stable">
                                <button 
                                    class="button button-light button-small" 
                                    ng-click="portfolio.deletePortfolioItem(entry.Id)">
                                    <i class="icon ion-trash-a"></i>    
                                </button>
                                <button 
                                    class="button button-light button-small" 
                                    ng-click="portfolio.editPortfolioItem('employment', entry.Id)">
                                    <i class="icon ion-edit"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-item>
    </ion-content>
</ion-view>