<ion-view>
	<ion-content scroll="true" class="auth-page">
		<div class="row">
			<div class="col">
				<img src="img/logo.png" alt="logo" class="logo">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<form class="form-auth" name="auth.formAuth" ng-submit="auth.login()">
					<div class="list">
						<label class="item item-input item-floating-label">
							<span class="input-label mute-text"
								  ng-class="{'text-error': !auth.formAuth.userName.$valid && auth.errorAlert}">Username
							</span>
							<input type="text"
								   class="mute-text"
								   name="userName"
								   ng-model="auth.formData.login"
								   ng-required="true"
								   ng-minlength="3"
								   ng-change="auth.errorAlert = false"
							>
						</label>
						<label class="item item-input item-floating-labelgit">
							<span class="input-label mute-text"
								  ng-class="{'text-error': !auth.formAuth.password.$valid && auth.errorAlert}">Password
							</span>
							<input type="password"
								   class="mute-text"
								   name="password"
								   ng-model="auth.formData.password"
								   ng-required="true"
								   ng-minlength="6"
								   ng-change="auth.errorAlert = false"
							>
						</label>
					</div>
					<div class="alert-block alert-error" ng-if="!auth.formAuth.$valid && auth.errorAlert">
						<span>Incorrect username or password</span>
					</div>
					<div class="button-bar button-bar-positive">
						<button class="button button-positive button-block" type="submit">Login</button>
						<button class="button button-positive button-block" ui-sref="join">Join ACDN</button>
					</div>
					<div class="item text-center">
						<a ui-sref="reset">I forgot my password</a>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>
