<ion-view>
    <ion-header-bar class="bar bar-positive">
        <div class="buttons">
            <button class="button icon-left ion-chevron-left button-clear" ng-click="reset.backButton()"></button>
        </div>
        <h1 class="title">Reset Password</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="reset-page">
        <div class="row">
            <div class="col">
                <form class="form-auth">
                    <ion-list>
                        <p>Enter your email and we will send you an email with further instructions.</p>
                        <ion-item class="item-input">
                            <span class="input-label mute-text">Email</span>
                            <input type="text" title="Email" class="mute-text" ng-model="reset.formData.email">
                        </ion-item>
                        <div class="padding-tb-10 button-wrapper">
                            <button class="button button-positive button-block">Reset password</button>
                        </div>
                    </ion-list>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
